rawData/**/*
!rawData/.gitkeep
!rawData/metadata/
rawData/metadata/prefilter_candidates.csv
rawData/metadata/domain_classified_candidates.csv

!rawData/metadata/balanced_candidates.csv
!rawData/metadata/domain_deficits.csv


!rawData/readme/
!rawData/tutorials/
!rawData/final_shortlist_images/
!rawData/wikiart/
!rawData/wikiart/metadata/
!rawData/wikiart/readme/
!rawData/relaion/
!rawData/relaion/metadata/
!rawData/relaion/readme/
rawData/readme/*
rawData/tutorials/*
rawData/final_shortlist_images/*
rawData/wikiart/readme/*
rawData/relaion/readme/*

!rawData/relaion/metadata/short_domain_candidates.csv

dataset/images/**/*
!dataset/images/train/
!dataset/images/val/
ppr.pdf


tempServerCopy


**/__pycache__/
*.py[cod]
*.tmp
*.temp
*.log
.venv/
venv/
env/
